.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  padding-top: 15px;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pcty-btn {
  background-color: #ddd;
  border-color: #ccc;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
}

.pcty-btn-green {
  background-color: #64aa64;
  border-color: #5a995a;
  color: white;
}
.pcty-btn-green:hover {
  background-color: #5a995a;
}

table.pcty-employee-table {
  width: 95%;
  margin: 20px auto;
  text-align: left;
}

.no-padding {
  padding: 0;
}
